QMainWindow {
    background: #222d35;
}
QLabel{
	background-color:#f8efe7;
    border: none;
	font: "Roboto";
    font-size: 11pt;
	padding: 1px;
}


QWidget {
	background-color: #ffffff;
	font-weight: 600;
    color: #282726;
}
QPushButton {
	background-color:#239c4b;
    border: none;
	font: "Roboto";
    font-size: 14pt;
	padding: 2px;

}
QPushButton:hover {
	background-color: #1b7f3c;
    color: #ffffff;
}

QPushButton:pressed {
	background-color: #1b5f4f;
}
QCheckBox{
	font: "Roboto";
	font-weight: 500;
	font-size: 12pt;
}
QTabBar::tab:!selected:hover {
    background: #FFFFFF;
}

QTabWidget::tab-bar {
    alignment: auto;
}
QTabBar {
	font: 16pt "Roboto";
	width: 0;
}
QTabBar::tab {
    border: none;
	background-color: #239c4b;
    padding:15px 32 ;
    text-align: center;
		
}

QTabBar::tab:selected, QTabBar::tab:hover {
	background-color: #1b7f3c;
}

QTabBar::tab:selected {
    border-color: #9B9B9B;
    border-bottom-color: #C2C7CB; 
}

QTableWidget  {
	width:auto;
	font: 14pt "Roboto";
	selection-background-color: #1b7f3c;
}
QTreeWidget {

}