QMainWindow {
    background: #222d35;
}
QLabel{
	background-color:#f8efe7;
    border: none;
	font: "Roboto";
    font-size: 11pt;
	padding: 1px;
}
QWidget {
	background-color: #ffffff;
	font-weight: 600;
    color: #282726;
}
QPushButton {
	background-color:#239c4b;
    border: none;
	font: "Roboto";
    font-size: 14pt;
	padding: 2px;
	color: #FFFFFF;

}
QPushButton:hover {
	background-color: #1b7f3c;
    color: #FFFFFF;
}

QPushButton:pressed {
	background-color: #1b5f4f;
}
QCheckBox{
	font: "Roboto";
	font-weight: 500;
	font-size: 12pt;
}
QTabBar::tab:!selected:hover {
   	background-color: #1b7f3c;
    color: #FFFFFF;
}

QTabWidget::tab-bar {
    alignment: auto;
}
QTabBar {
	font: 16pt "Roboto";
	width: 0;
	color: #FFFFFF;
}
QTabBar::tab {
    border: none;
	background-color: #239c4b;
    padding:15px 33.3 ;
    text-align: center;
		
}

QTabBar::tab:selected, QTabBar::tab:hover {
	background-color: #1b7f3c;
}

QTabBar::tab:selected {
    border-color: #9B9B9B;
    border-bottom-color: #C2C7CB; 
}

QDateEdit
{
	background-color : white;
	padding : 5px;
	font:"Roboto";
	font-weight:500;
}

QTableWidget  {
	width:auto;
	font: 14pt "Roboto";
	selection-background-color: #1b7f3c;
}
QTreeWidget {
	font:"Roboto";
	font-weight:500;
}

QTreeWidget {
    show-decoration-selected: 1;
	font: "Roboto";
	font-weight:500;
}
QTreeWidget QHeaderView::section {
    font-size: 12pt;
}

QTreeWidget::item {
     border: 1px solid #d9d9d9;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

QTreeWidget::item:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #e7effd, stop: 1 #cbdaf1);
    border: 1px solid #bfcde4;
}

QTreeWidget::item:selected {
    border: 1px solid #567dbc;
}

QTreeWidget::item:selected:active{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #6ea1f1, stop: 1 #567dbc);
}

QTreeWidget::item:selected:!active {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #6b9be8, stop: 1 #577fbf);
}
QGroupBox {
  border: 1px solid gray;
  border-radius: 9px;
  margin-top: 0.5em;
}

QGroupBox::title {
  background-color:transparent;
  padding-top: -24px;
  padding-left: 8px;
}

QHeaderView::section {
 	Font-size:14px;
	Font-family: "Robotoi";
	Color: #FFFFFF;
	Background:#239c4b;
	Border:none;
	Text-align:left;
	Min-height: 49px;
    max-height:49px;
	Margin-left:0px;
	Padding-left: 0px;
}

QTableWidget {
    Background: #FFFFFF;
    Font-size: 12px;
    Font-family:"Robotoi";
    Color:#666666;
}
QTableWidget::item
{
    Border-bottom:1px solid #EEF1F7;
}

QTableWidget {
    Background: #FFFFFF;
    Border:none;
    Font-size: 12px;
    Font-family:"Roboto";
    Color:#666666;
}

QTableWidget::item
{
    Border-bottom:1px solid #EEF1F7;
}
 
QTableWidget::item::selected // Each cell is selected
{
    Color:red;
    Background: #EFF4FF;
}
 
QScrollBar::handle:vertical
{
    Background: rgba(255,255,255,20%);
    Border: 0px solid grey;
    Border-radius: 3px;
    Width: 8px;
}

QScrollBar::vertical
{
 Border-width: 1px;
 Border-style: solid;
 Border-color: rgba(255, 255, 255, 10%);
 Width: 8px;
 Margin:0px 0px 0px 0px;
 Border-radius: 3px;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
    Background: rgba(255,255,255,10%);
}

QScollBar::add-line:vertical, QScrollBar::sub-line:vertical
{
    Background:transparent;
}
QHeaderView::ResizeToContents;